<operators-header [title]="title"></operators-header>
<br>
<h4>interval <small><pre><code>interval(period: number, scheduler: Scheduler): Observable</code></pre></small></h4>

<button type="button" routerLink="/interval">Every second</button>

<br>
<br>

<h4>iif operator <small><pre><code>iif
  (
  condition: () =>boolean,
  trueResult: subscribeableOrPromise,
  falseResult: subscribeableOrPromise
  ):
  Observable</code></pre></small></h4>

<button type="button" routerLink="/iif">iif operator</button>

<br>
<br>

<router-outlet></router-outlet>
